html {
	cursor: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

.circle {
	background-color: transparent;
	height: 74px;
	width: 74px;
	border-radius: 100% 100% 100% 100%;
	position: absolute;
	z-index: 9;
	border-style: solid;
	border-width: 6px;
	border-color: black;
}

.circlekernel {
	background-color: black;
	height: 30px;
	width: 30px;
	border-radius: 100% 100% 100% 100%;
	position: absolute;
	top: 22px;
	left: 22px;
	z-index: 9;
}

.scancircle {
	background-color: transparent;
	height: 74px;
	width: 74px;
	border-radius: 100% 100% 100% 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 12;
}

.cursor {
	background-color: red;
	height: 28px;
	width: 28px;
	border-radius: 100% 100% 100% 100%;
	position: absolute;
	z-index: 10;
	top: -100px;
	left: -100px;
}

.area {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	position: absolute;
	top: 20px;
	left: 5px;
	height: 700px;
	width: 1200px;
}

.stats {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	top: 1px;
	left: 5px;
	height: 20px;
	width: 700px;
}